<div class="container-sm d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="w-100">
    <h1 class="h1 text-center mb-4">Login</h1>
    <form (submit)="login()" class="card p-1">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" required>
      </div>

      <!-- Remember me Checkbox -->
      <div class="mb-3 form-check">
        <input type="checkbox" name="rememberMe" id="rememberMe" class="form-check-input">
        <label class="form-check-label" for="rememberMe">Remember me</label>
      </div>

      <!-- Login and Register Buttons -->
      <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-success" type="submit">Login</button>
        <button class="btn btn-primary" routerLink="/register">Register</button>
      </div>

      <!-- Forgot Password Link -->
      <div class="text-center">
        <a href="/forgot-password" class="text-decoration-none">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>




